
.main-content{
  width:40%;
  margin-left: 15%;
  display:inline-block;
  h1{
    color:#082c7d;
  }
  h3{
    color:blue;
    padding-left: 10px;
    border-left: solid 1px lightgrey;
  }
  p{
    color:grey;
    font-size:.5em;
  }
}
